<!-- <p>about works!</p> -->
<section class="about-us">
    <div class="container">
      <h2>About Us</h2>
      <p>Welcome to our e-commerce website! We are dedicated to providing you with the best shopping experience.</p>
      <p>Our mission is to offer high-quality products at affordable prices, delivered with exceptional customer service.</p>
      <p>At our store, you'll find a wide range of products, including clothing, electronics, accessories, and more.</p>
      <p>Thank you for choosing us for your shopping needs!</p>
    </div>
  </section>
  