<nav class="navbar">
    <div class="navbar-brand">WELCOME TO OUR E-COM SITE </div>
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a  routerLink="/">Home</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/about">About</a></li>
      <li class="nav-item" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
      <div class="page-header-login-logout">
        <a class="nav-class" href="#">Login</a>
        <a class="nav-class" href="#">Logout</a>

    </div>
    </ul>
</nav>
    
  
  