<!-- <h2>Welcome to  {{title}}</h2> -->

<!--this is declared as a html tag-->

<navbar ></navbar>
<router-outlet></router-outlet>



<!-- <top-header></top-header> -->

<!--this is declared as a html attribute-->
<!-- <div top-header></div> -->

<!--this is declared as a css class-->
<!-- <div class="top-header"></div> -->

<!--this is declared as a id-->
<!-- <div id="top-header"></div> -->

<!--this is declared as a html tag-->
<!-- <app-header></app-header> -->


<!-- <list></list> -->
<!-- <product  (addToCartEvent)="handleCartItems($event)"></product> -->


